3Dataset/prompts_weekly_diary.json
Evalution/results.json
Dataset/Dataset.json
Dataset/prompts_building_diary.json
Evalution/results/Meta-Llama-3.1-8B-Instruct_maxlen8000.json
Evalution/results/accuracy_results.csv
Evalution/results/accuracy_results.csv
Evalution/results/accuracy_results.csv
Dataset/prompts_diary.json
Evalution/results/Meta-Llama-3.1-8B-Instruct_maxlen16000.json
Evalution/results/Mistral-7B-Instruct-v0.3_maxlen16000.json
Evalution/results/Qwen2-7B-Instruct_maxlen16000.json
Evalution/results/gemma-2-9b_maxlen16000.json
Evalution/api_test_qwen2_72B.json
Evalution/results/FILM-7B_maxlen16000.json
Evalution/run_2.sh
Evalution/run_2.sh
Evalution/run_2.sh
Evalution/check_gpu_4GPU.py
Evalution/run_2.sh
Evalution/results/Qwen2-7B-Instruct_maxlen32000.json
Evalution/results/Mistral-7B-Instruct-v0.3_maxlen32000.json
Evalution/results/Meta-Llama-3.1-8B-Instruct_maxlen32000.json
Evalution/results/accuracy_results.csv
Evalution/From-Fragment-to-Fabric-Long-Context-Scaling-with-Short-Instruction-Tuning-Data
Evalution/From-Fragment-to-Fabric-Long-Context-Scaling-with-Short-Instruction-Tuning-Data
Evalution/From-Fragment-to-Fabric-Long-Context-Scaling-with-Short-Instruction-Tuning-Data
Evalution/results/accuracy_results.csv
Evalution/results/Mistral-7B-Instruct-v0.2_maxlen16000.json
Evalution/results/accuracy_results.csv
Evalution/From-Fragment-to-Fabric-Long-Context-Scaling-with-Short-Instruction-Tuning-Data
Evalution/results/Mistral-7B-Instruct-v0.2_maxlen32000.json
Evalution/results/accuracy_results.csv
Evalution/results/Meta-Llama-3.1-8B_maxlen16000.json
Evalution/results/Mistral-7B-v0.3_maxlen16000.json
Evalution/results/Qwen2-7B_maxlen16000.json
Draw/instruct_2.pdf
Evalution/results/FILM-7B_maxlen32000.json
Evalution/results/LongWriter-llama3.1-8b_maxlen16000.json
Evalution/results/LongWriter-llama3.1-8b_maxlen32000.json
Evalution/results/Meta-Llama-3.1-70B-Instruct_maxlen16000.json
Evalution/results/Meta-Llama-3.1-70B-Instruct_maxlen32000.json
Evalution/results/Mixtral-8x7B-Instruct-v0.1_maxlen16000.json
Evalution/results/Mixtral-8x7B-Instruct-v0.1_maxlen32000.json
Evalution/results/Qwen2-72B-Instruct_maxlen16000.json
Evalution/results/Qwen2-72B-Instruct_maxlen32000.json
Dataset/batch_api.jsonl
Dataset/Dataset_short_API.json
Evalution/results/GPT_4o_16000.json
Evalution/results/GPT_4o_mini_16000.json
Evalution/results/combined_plot.pdf
Evalution/results/static.ipynb
output.png
three.pdf
Draw/output.png
Draw/paper.ipynb
Draw/ruler_sgt.pdf
Draw/three.pdf
Evalution/results/static.ipynb
Evalution/results/stats.csv
