Dataset/prompts_weekly_diary.json
Evalution/results.json
Dataset/Dataset.json
Dataset/prompts_building_diary.json
Evalution/results/Meta-Llama-3.1-8B-Instruct_maxlen8000.json
Evalution/results/accuracy_results.csv
Evalution/results/accuracy_results.csv
Evalution/results/accuracy_results.csv
Dataset/prompts_diary.json
